body {
  background-color: #003c69;
  overflow-x: hidden;
  background-image: url("../public/background-img.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

#wrapper {
  min-height: 100vh;
  min-width: 100vw;
}

p {
  font-family: 'Quicksand';
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Oxygen';
}

.main-content {
  justify-content: center;
}

.modal-content {
  max-width: 90vw;
}
.modal-body {
  max-height: 70vh;
  overflow-y: auto;
}
.modal-open{
  overflow: hidden;
}

/* header */
.header {
  display: flex;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 7;
  flex-shrink: 0;
  /*wont shrink as page shrinks*/
  background-color: #eceff4;
  color: #003c69;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;
}

.header-img {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  width: auto;
}

.header-title {
  display: flex;
  flex-grow: 2;
  width: auto;
  justify-content: space-around;
}

.header-link {
  display: flex;
  flex-grow: 1;
  width: auto;
  justify-content: space-around;
  flex-wrap: wrap;
}

.header-button-container {
  height: auto;
  width: auto;
}

/* footer */
.footer {
  display: flex;
  bottom: 0;
  left: 0;
  width: 100vw;
  /* z-index: 7; */
  flex-shrink: 0;
  /*wont shrink as page shrinks*/
  background-color: #003c69;
  color: #60d2cc;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}


/* carousel */
.carousel-row {
  justify-content: center;
  align-items: center;
  width: 80%;
  min-height: 300px;
  margin-top: 40px;
  margin-bottom: 30px;
}

.carousel-col {
  /* width: 50%; */
  height: 100%
}
.carousel-container{
  height: 300px;
}
.carousel {
  height: 100%;
  width: 100%;
}

.carousel-inner {
  height: 100%;
  border-radius: 10px;
}

.carousel-item {
  height: 100%;
}

.carousel-img {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.carousel-img img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  display: block;
  margin: auto;
}

.image-carousel {
  min-height: 100%;
  min-width: 100%
}

.carousel:hover .carousel-caption {
  color: #003c69;
  opacity: 1;
}

/* greeting */
.greeting-text {
  color: #eceff4;
}
.main-content{
display:flex;
}
/* search filter dropdown */
.search-filter {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 10%;
}
.search-filter-row {
  margin-top: 30px;
  margin-bottom: 20px;
  
}
.search-filter-col {
  display: flex;
  flex-grow: 1;
  justify-content: space-around;
}
.dropdown-col {
  display: flex;
  flex-grow: 2;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
}
.dropdown-filter {
  position: relative;
  display: inline-block;
  justify-content: space-around;
  width: 50%;
}
form {
  justify-content: center;
}
.search-input {
  border: #003c69 2px solid;
  border-radius: 10px;
  color: #003c69;
  background-color: #eceff4;
  width: 80%;
  padding: 8px;
  background-image: url('../public/search-icon.png');
  background-position: 5px 5px;
  background-size: 30px 30px;
  padding-left: 40px;
  background-repeat: no-repeat;
  justify-content: space-around;
}
.search-input:focus {
  outline: 0;
  color: #003c69;
}
.dropdown-box {
  border: #003c69 2px solid;
  border-radius: 10px;
  color: #003c69;
  background-color: #eceff4;
  padding: 8px;
  width: 90%;
  white-space: normal;
}
.dropdown-option {
  white-space: normal;
  width: auto;
  color: #003c69;
}

/* cards */
.event-listings-row {
  justify-content: center;
  height: 60%;
  margin-top: 10px;
}

.card {
  background-color: #003c69;
  border: 1px #003c69 outset;
  border-radius: 10px;
  margin-top: 15px;
  align-items: center;
  display: flex;
  flex-grow: 1;
  margin: 15px;
  width: 300px;
}

.card-deck {
  justify-content: center;
  height: 100%;
  width: 85%;
  display: flex;
  flex-wrap: wrap;
  background-color: #003c69;
  border: 2px #00233e outset;
  border-radius: 20px;
  padding: 25px;
}

.card-title {
  color: #60d2cc;
  margin-bottom: auto;
}

.card-body {
  color: #eceff4;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.card-btn-row {
  justify-content: center;
  margin-top: auto;
}

.card-img-container {
  position: relative;
  width: 100%;
  height: 200px;
}

.card-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-height: 100%;
  overflow: hidden;
}

.card-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* pagnation */
.pagnation-row {
  justify-content: center;
  align-items: center;
  height: 10%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.custom-pagnation {
  justify-content: center;
  align-items: center;
}

#pagnation-link {
  color: #003c69;
  background-color: #eceff4;
}

/* user account */
.user-account-row{
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 50px;
  width: 50%;
  max-width: 90vw;
  min-width: 60vw;
  background-color: #003c69;
  justify-content: center;
  border: 2px #003c69 outset;
  border-radius: 20px;
}
.user-account-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.user-account-title{
  border-bottom: 1px solid #eceff4;
  padding-bottom: 10px;
  color: #60d2cc;
}
.user-account-information{
  padding-top: 10px;
  color: #eceff4;
}
.user-account-btn {
  display: flex;
  justify-content: center;
}

/* user profile */
.user-profile-header{
  margin-top: 50px;
  width: 70%;
  align-items: center;
  border: 2px #003c69 outset;
  border-radius: 20px;
  padding: 40px;
  justify-content: center;
  margin-bottom: 30px;
}
.profile-img-col{
  display: flex;
  justify-content: center;
  height: 200px;
  width: 200px;
}
.profile-information-col{
  color: #eceff4;
}
.friend-list-row{
  width: 70%;
  margin-bottom: 50px;
  justify-content: center;
}
.list-col{
  padding: 20px;
  border: 2px #003c69 outset;
  border-radius: 30px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  background-color: #003c69;
}
.list-title{
  color: #60d2cc;

}
.list-text{
  color: #eceff4;
}
.list-ul{
  padding: 0;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.list-li{
  list-style-type: none;
  color: #eceff4;
  width: 90%;
  margin-bottom: 10px;
  border: 1px solid #eceff4;
  border-radius: 5px;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
}
.list-li:hover{
  cursor: pointer;
  color: #003c69;
  background-color: #eceff4;
}
.list-li-text{
  justify-content: center;
  display: flex;
  margin: 0;
}
.btn-li{
  list-style-type: none;
  justify-content: center;
  display: flex;
  margin: 0;
}
.list-modal-header{
  background-color: #eceff4;
  color:#60d2cc;
}
.list-modal-body{
  background-color: #eceff4;
  color: #003c69;
}
.list-event-li{
  list-style-type: none;
  width: 90%;
  margin-bottom: 15px;
  justify-content: center;
  display: flex;
}
.list-event-li-text{
  margin-bottom: 0px;
  align-content: center;
  padding-right: 10px;
}
.list-modal-footer{
  background-color: #eceff4;
}
.list-modals-modal{
  background-color: #eceff4;
  border: 1px solid #003c69;
  color: #003c69;
  border-radius: 2px;
}
.add-collaborator-body{
  margin: 20px;
}
.add-collaborator-title{
  margin-bottom: 10px;
}
.add-collaborator-li{
  list-style-type: none;
  width: 90%;
  justify-content: center;
  display: flex;
  border: 2px #003c69 outset;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 5px;
}
.add-collaborator-li:hover{
  cursor: pointer;
  background-color: #003c69;
  color: #eceff4;
}
.edit-list-body{
  margin: 20px;
}
.edit-list-title{
  margin-bottom: 10px;
}
.edit-list-form{
  padding: 10px;
}
.edit-list-input{
  margin-bottom: 5px;
}
.edit-list-textfield{
  border: #003c69 2px solid;
  border-radius: 10px;
  color: #003c69;
  background-color: #eceff4;
  width: 80%;
  padding: 5px;
  padding-left: 10px;
  justify-content: space-around;
  margin-left: 5px;
}
.edit-list-textfield:focus {
  outline: 0;
  color: #003c69;
}
.edit-list-checkbox{
  margin-left: 5px;
}
.edit-list-btn-group{
  width: 80%;
  justify-content: center;
  /* display: flex; */
  align-items: center;
}
.friend-col{
  padding: 20px;
  border: 2px #003c69 outset;
  border-radius: 30px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  background-color: #003c69;
}
.friend-title{
  color: #60d2cc;

}
.friend-text{
  color: #eceff4;
}
.friend-ul{
  padding: 0;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.friend-li{
  list-style-type: none;
  color: #eceff4;
  width: 90%;
  margin-bottom: 10px;
  border: 1px solid #eceff4;
  border-radius: 5px;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
}
.friend-li:hover{
  cursor: pointer;
  color: #003c69;
  background-color: #eceff4;
}
.friend-li-text{
  justify-content: center;
  display: flex;
  margin: 0;
  height: 100%;
  width: 100%;
}

/* event modal */
.add-event-modal-header{
  background-color: #eceff4;
  color:#003c69;
}
.add-event-modal-body{
  background-color: #eceff4;
  padding: 30px;
  justify-content: center;
  align-items: center;
}
.add-event-modal-list{
  align-items: center;
}
.add-event-modal-btn-li{
  width: 90%;
  background-color: #eceff4;
  justify-content: center;
  display: flex;
}
.add-event-modal-li{
  width: 90%;
  background-color: #eceff4;
  padding: 10px;
  padding-left: 20px;
}
.add-event-modal-li:hover{
  cursor: pointer;
  color: #60d2cc;
}
.add-event-modal-footer{
  background-color: #eceff4;
}

/* create list modal */
.create-list-body{
  margin: 20px;
}
.create-list-title{
  margin-bottom: 10px;
}
.create-list-form{
  padding: 10px;
}
.create-list-input{
  margin-bottom: 5px;
}
.create-list-textfield{
  border: #003c69 2px solid;
  border-radius: 10px;
  color: #003c69;
  background-color: #eceff4;
  width: 80%;
  padding: 5px;
  padding-left: 10px;
  justify-content: space-around;
  margin-left: 5px;
}
.create-list-textfield:focus {
  outline: 0;
  color: #003c69;
}
.create-list-checkbox{
  margin-left: 5px;
}

/* event information */
.event-information-modal-header{
  background-color: #eceff4;
  color: #60d2cc;
  padding-left: 40px;
  padding-right: 40px;
}
.event-information-modal-body{
  background-color: #eceff4;
  padding: 20px;
  color: #003c69;
}
.event-information-modal-footer{
  background-color: #eceff4;
}
.event-information-container{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.event-information-row{
  justify-content: center;
}
.event-information-img{
  width: 80%;
  display: flex;
  justify-content: center;
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: hidden;
}
.event-information-text{
  width: 75%;
  margin-top: 20px;
  border-bottom: 2px solid #60d2cc;
}

/* notifications */
.notifications-offcanvas{
  background-color: #eceff4;
}
.notifications-header{
  color: #003c69;
  padding: 20px;
}
.notifications-body{
  padding: 30px;
}
.notifications-li{
  list-style-type: none;
  color: #003c69;
  width: 90%;
  border-bottom: 1px solid #60d2cc;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  align-items: center;
}
.notifications-text{
  margin: 0;
}
.notification-body{
  padding: 20px;
  background-color: #eceff4;
  border: 2px #003c69 outset;
  border-radius: 10px;
  color: #003c69;
}

/* search users */
.user-search-filter{
  margin-top: 40px;
  margin-bottom: 40px;
  width: 70%;
}
.users-search-input{
  width: 80%;
}
.users-row{
  justify-content: center;
  margin-bottom: 30px;
}
.user-card-deck{
  background: none;
  border: none;
}
.card-text{
  color:#eceff4;
  padding:20px;
}
.user-card-body{
  padding-top: 30px;
  padding-bottom: 30px;
}

/* login/signup */
.login-title, .signup-title, .edit-account-title{
  width: 80%;
  color: #eceff4;
  margin-top: 40px;
  margin-bottom: 20px;
  justify-content: center;
}
.form-row{
  width: 80%;
  color: #eceff4;
}
.account-form-input{
  border: #003c69 2px solid;
  border-radius: 10px;
  color: #003c69;
  background-color: #eceff4;
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 10px;
}
.account-form-input:focus {
  outline: 0;
  color: #003c69;
}
.account-form-input:a {
  outline: 0;
  color: #003c69;
}
.alternative-row{
  border-top: 2px solid #eceff4;
  margin-top: 30px;
  padding: 10px;
}
.alternative-text{
  margin: 0;
}
.account-carousel-row{
  height: 100%;
  display: flex;
  align-content: flex-start;
  justify-content: center;
}
.account-carousel{
  display: flex;
  justify-content: center;
  height: 250px;
  width: 350px;
}

/* button variations */
.btn-1 {
  color: #003c69;
  background-color: #60d2cc;
  border: 2px #60d2cc solid;
  border-radius: 5px;

  width: auto;
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 5px;
}

.btn-1:hover {
  color: #60d2cc;
  background-color: #003c69;
  border: 2px #60d2cc solid;
  border-radius: 5px;
}
.btn-1:focus {
  color: #60d2cc;
  background-color: #003c69;
  border: 2px #60d2cc solid;
  border-radius: 5px;
}

.btn-2 {
  color: #eceff4;
  background-color: #003c69;
  border: 2px #eceff4 solid;
  border-radius: 5px;

  width: auto;
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 5px;
}

.btn-2:hover {
  color: #003c69;
  background-color: #eceff4;
  border: 2px #003c69 solid;
  border-radius: 5px;
}
.btn-2:focus {
  color: #003c69;
  background-color: #eceff4;
  border: 2px #003c69 solid;
  border-radius: 5px;
}

.btn-3 {
  color: #003c69;
  background-color: #eceff4;
  border: 2px #003c69 solid;
  border-radius: 5px;

  width: auto;
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 5px;
}

.btn-3:hover {
  color: #eceff4;
  background-color: #003c69;
  border: 2px #eceff4 solid;
  border-radius: 5px;
}
.btn-3:focus {
  color: #eceff4;
  background-color: #003c69;
  border: 2px #eceff4 solid;
  border-radius: 5px;
}

.btn-4 {
  color: #60d2cc;
  background-color: #003c69;
  border: 2px #60d2cc solid;
  border-radius: 5px;

  width: auto;
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 5px;
}

.btn-4:hover {
  color: #003c69;
  background-color: #60d2cc;
  border: 2px #003c69 solid;
  border-radius: 5px;
}
.btn-4:focus {
  color: #003c69;
  background-color: #60d2cc;
  border: 2px #003c69 solid;
  border-radius: 5px;
}

.btn-5 {
  color: #003c69;
  background: none;
  border: 2px #003c69 solid;
  border-radius: 5px;

  width: auto;
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 5px;
}

.btn-5:hover {
  color: #eceff4;
  background-color: #003c69;
  border: 2px #003c69 solid;
  border-radius: 5px;
}
.btn-5:focus {
  color: #eceff4;
  background-color: #003c69;
  border: 2px #003c69 solid;
  border-radius: 5px;
}

.btn-6 {
  color: #eceff4;
  background: #60d2cc;
  border: 2px #eceff4 solid;
  border-radius: 5px;

  width: auto;
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 5px;
}

.btn-6:hover {
  color: #60d2cc;
  background-color: #eceff4;
  border: 2px #60d2cc solid;
  border-radius: 5px;
}
.btn-6:focus {
  color: #60d2cc;
  background-color: #eceff4;
  border: 2px #60d2cc solid;
  border-radius: 5px;
}

.btn-7 {
  color: #eceff4;
  background-color: #00233e;
  border: 2px #eceff4 solid;
  border-radius: 5px;

  width: auto;
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 5px;
}

.btn-7:hover {
  color: #eceff4;
  background-color: #003c69;
  border: 2px #eceff4 solid;
  border-radius: 5px;
}
.btn-7:focus {
  color: #eceff4;
  background-color: #003c69;
  border: 2px #eceff4 solid;
  border-radius: 5px;
}

.btn-8 {
  color: #003c69;
  background-color: #eceff4;
  border: 2px #eceff4 solid;
  border-radius: 5px;

  width: auto;
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 5px;
}

.btn-8:hover {
  color: #003c69;
  background-color: #eceff4;
  border: 2px #003c69 solid;
  border-radius: 5px;
}
.btn-8:focus {
  color: #003c69;
  background-color: #eceff4;
  border: 2px #003c69 solid;
  border-radius: 5px;
}
/* header dropdown btn */
.btn-check:active+.btn-primary, .btn-check:checked+.btn-primary, .btn-primary.active, .btn-primary:active, .show>.btn-primary.dropdown-toggle{
  color: #003c69;
  background-color: #eceff4;
  border: 2px #003c69 solid;
  border-radius: 5px;
}

.header-dropdown{
  min-width: 10rem;
  justify-content: center;
  display: flex;
}
.header-dropdown-menu{
  background-color: #eceff4;
}
.header-dropdown-option{
  color: #003c69;
}
.header-dropdown-option:hover{
  color: #60d2cc;
}
.logout-btn-div{
 height: auto;
 width: auto;
 border-top: 1px #003c69 solid;
}
.logout-btn{
  color: #003c69;
  width: auto;
}
.logout-btn:hover {
  color: #60d2cc;
}
.logout-btn:focus {
  color: #60d2cc;
}